@model IEnumerable<ShenDeng.Domain.Exemplar>
@using ShenDeng.Web.Help;
@{
    ViewBag.Title = "样件导入";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<button type="button" class="button1" data-toggle="modal" data-target="#editModal" data-backdrop="static">添加</button>

<!-- 添加窗口 -->
<div class="modal fade" id="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加样件</h3>
            </div>
            <div class="modal-body">
                <table  width="800px" style="height:50px">
                    <tr>
                        <td class="mylable">封样日期</td>
                        <td><input type="date" name=@key.closedate />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">物料编号</td>
                        <td><input type="text" name=@key.wlno />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">模穴号</td>
                        <td><input type="text" name=@key.modelno />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">物料名称</td>
                        <td><input type="text" name=@key.wlname />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">物料大类</td>
                        <td>
                            <select class="shortselect" name=@key.wlclass>
                                <option>---请选择---</option>
                                <option>数字结构料</option>
                                <option>数字电子料</option>
                                <option>无线结构料</option>
                                <option>无线电子料</option>
                                <option>新世界物料</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="mylable">封样人</td>
                        <td><input type="text" name=@key.closepeople />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">供应商</td>
                        <td><input type="text" name=@key.supp /> </td>
                    </tr>
                    <tr>
                        <td class="mylable">样件有效期</td>
                        <td>
                            <select class="shortselect" name=@key.validtime onchange="other()" id="valtime">
                                <option>---请选择---</option>
                                <option>1年</option>
                                <option>2年</option>
                                <option>4年</option>
                                <option>3月</option>
                                <option onclick="other()">其他</option>
                            </select>
                            <input type="text" name=@key.other style="width: 70px" class="hide" id="other" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" id="save_button" onclick="add()">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 表格 -->
<div style='height:450px;width:100%;display:block;overflow-y:auto; overflow:auto;'>
    <table class="my-table">
        <thead>
            <tr>
                <td><button class="button2" onclick="find()">查询</button></td>
                <td></td>
                <td><input type="date" name="fclosetime" class="input1" /></td>
                <td><input type="text" name="fwlno" /></td>
                <td></td>
                <td><input type="text" name="fwlname" class="input2" /></td>
                <td><input type="text" name="fwllclass" class="input2" /></td>
                <td></td>
                <td><input type="text" name="fsup" class="input2" /></td>
                <td><input type="text" name="fver" class="input2" /></td>
                <td></td>
                <td><input name="fvertime" type="date" class="input1" /></td>
            </tr>
            <tr>
                <td class="firsttd"><input type="checkbox" id="ch" onclick="choose_all()" /></td>
                <th>序号</th>
                <th>封样日期</th>
                <th>物料编号</th>
                <th>模穴号</th>
                <th>物料名称</th>
                <th>物料大类</th>
                <th>封样人</th>
                <th>供应商</th>
                <th>样件有效期</th>
                <th>样件管理员</th>
                <th>签收日期</th>
                <th>审核人</th>
                <th>审核结果</th>
                <th>不良描述</th>
                <th>样件状态</th>
                <th>签收人</th>
                <th>存放位置</th>
                <th>超期月数</th>
                <th>撤销理由</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                var no = 0;
            }
            @foreach (var item in Model)
            {
                no += 1;
                <tr id=@item.DBID.ToString()>
                    <td class="firsttd"><input type="checkbox" onclick="choose(this)" value=@item.DBID.ToString() id=@item.DBID.ToString() /></td>
                    <td>@no</td>
                    <td>@item.SealedTime.ToString("yyyy/MM/dd")</td>
                    <td>@item.Id.Code</td>
                    <td>@item.ModelNo</td>
                    <td>@item.MaterialName</td>
                    <td>@item.MaterialClass</td>
                    <td>@item.CloseName</td>
                    <td>@item.Supplier</td>
                    <td>@item.ValidTime</td>
                    <td>@item.ExemManager</td>
                    <td>@item.SignDate.ToString("yyyy/MM/dd")</td>
                    <td>@item.Verifier</td>
                    <td>@item.VerResult</td>
                    <td>@item.NGDes</td>
                    <td>@item.ExemStatus</td>
                    <td>@item.Signer</td>
                    <td>@item.SaveSpace</td>
                    <td>@item.LimitMonth</td>
                    <td><input type="text" value="@item.BackReason" class="display2" /></td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#editModal2" data-backdrop="static" name=@item.DBID.ToString() onclick="full(this)">修改</a>&nbsp;|&nbsp;
                        <a href="#" name=@item.DBID.ToString() id="delete" onclick="delete_(this)">撤销</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="center1">
    <button type="button" class="button1" onclick="submit1()">提交</button>
</div>

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">修改样件</h3>
            </div>
            <div class="modal-body">
                <table  width="800px" style="height:50px">
                    <tr>
                        <td class="mylable">封样日期</td>
                        <td><input type="date" name="closetime2" />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">物料编号</td>
                        <td><input type="text" name="wlno2" />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">模穴号</td>
                        <td><input type="text" name="modelno2" />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">物料名称</td>
                        <td><input type="text" name="wlname2" />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">物料大类</td>
                        <td>
                            <select class="shortselect" name="wlclass2">
                                <option>---请选择---</option>
                                <option>数字结构料</option>
                                <option>数字电子料</option>
                                <option>无线结构料</option>
                                <option>无线电子料</option>
                                <option>新世界物料</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="mylable">封样人</td>
                        <td><input type="text" name="closepeople2" />  </td>
                    </tr>
                    <tr>
                        <td class="mylable">供应商</td>
                        <td><input type="text" name="supp2" /> </td>
                    </tr>
                    <tr>
                        <td class="mylable">样件有效期</td>
                        <td>
                            <select class="shortselect" name="validtime2" onchange="other2()" id="valtime2">
                                <option>---请选择---</option>
                                <option>1年</option>
                                <option>2年</option>
                                <option>4年</option>
                                <option>3月</option>
                                <option>其他</option>
                            </select>
                            <input type="text" name="other2" style="width: 70px" class="hide" id="other2" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" id="edit_button" onclick="edit()">确认修改</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加窗口 -->
<script type='text/javascript' src="~/Content/js/import.js"></script>
<!-- 表格 -->
<script type="text/javascript" src="~/Content/js/tables.js"></script>
